:root{
  --orange: #f3750088;
  --green:  #0BD11F;
  --blue: #09B1BC;
  --grey: #777575;
}

nav {
  background-color: var(--grey);
  font-size: 36px;
  padding: 10px;
  display: flex;
  margin: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
nav a:hover {
  background-color: var(--grey);
}
.button {
  margin: 10px 70px 10px 70px; /* So that you don't keep forgetting: margin format goes top right bottom left */
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

h2, h1{
  text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.267);
}
.title, .slogan {
  text-align: center;
}

/* Slideshow container */
.slideshow-container, .service-container{
  position: relative;
  margin: auto;
  background-color: #f3750088;
  padding-top: 15px;
}

.slidshow-background{
  background-image: url("Assets/slideshow Background.png");
  background-repeat: no-repeat;
  background-position:top;
}

.slide-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  padding-top: 10px;
  padding-bottom: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: 3%;
  padding: 16px;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
}
.prev img, .next img{
  width: 25%;
  margin-right: -300px;
}
/* Position the "next button" to the right */
.next {
  right: 5%;
  border-radius: 3px 0 0 3px;

}
.prev{
  left: 5%;
  border-radius: 3px 0 0 3px;
  transform: rotate(180deg);

}

/* default button */
.btn{
  font-size: 30px;
  background: var(--green);
  border: none;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}
/* Button for SlideShow */
.get-started{
  position: absolute;
  transform: translate(-50%, -150%);
  width: 200px;
  height: 50px;
  border: 3px solid #000000;

  }

.learn-more{
  background: var(--blue);
  margin: 25px;
  padding: 2.5%;
  color: white;
  float: right;
  Margin-right: 25px;
  height: 50px;
  vertical-align: middle;
}
.serviceButton {
  background-color: var(--blue);
  color: white;

  padding: 5%;
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
  width: 55%;
  margin: auto;
}

.purchase{
  background-color:var(--green);
  margin: 0;
  padding: 2.5%;
  color: white;
  width: 70%;
}


/* ~~SERVICES PAGE~~ */
.service-container{
  padding: 10px;
  color: whitesmoke;
}
.backgrd{
  background: var(--grey);
  width: 65%;
  margin: auto;
  color: whitesmoke;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .5);
  margin-bottom: 1%;
}

.backgrd:not(.main)
{
  width: 45%;
}

.grid-container {
  display: grid;
  grid-row: auto;
  grid-template-columns: min-content auto auto;
}

.item1 img{
  width: 100px;
  display: block;
  margin: 20px;
  margin-right: 50px;
}

.item3{
  justify-content: center;
  padding-top: 5%;
  vertical-align: middle;
}

/* Spacer */

.spacer{
  min-height: 90px;
}

/* Footer */
.footer{
  width: 40%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Service Page */

.flex-service-container{
  display: flex;
}
.flex-service{
  justify-content: center;
  text-align: center;
}
.flex-service img{
  width: 300px;
  display: block;
  margin: 20px;
}
.profile-img{
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 75%;
}

.review{
  word-spacing: 0px;
  margin-right: 40px;
}
.review-date{
  color: var(--orange);
  position: relative;
  margin-top: -2%;
  margin-left: 10px;
  margin-bottom: -2%;
}

.description{
  padding: 10px;

  border-left: 2px solid var(--orange);
  border-bottom: 2px solid var(--orange);
}

.serviceContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

}
.ourServices {
  text-align: center;
  font-weight: normal;
  font-size: 3em;
}
.serviceBox {
  border: 2px solid black;
  border-collapse: collapse;
  width: 20%;
  padding: 10px;
  margin: 0px;
}
.serviceHeader {
  text-align: center;
  font-size: 2.5em;
}
.serviceText {
  text-align: center;
  padding: 25px;
}
.reviewContainer {
  display: grid;
  grid-template-rows: 3
}
